<div>
    <h1>Filme: {{dadosFilme?.results[indiceFilme].original_title}}</h1>
    <p>Sobre: {{dadosFilme?.results[indiceFilme].overview}}</p>
    <p>Média de votos: {{dadosFilme?.results[indiceFilme].vote_average}}</p>
    <p>Contagem de votos: {{dadosFilme?.results[indiceFilme].vote_count}}</p>
    <img [src]="'https://image.tmdb.org/t/p/w500/' + dadosFilme?.results[indiceFilme].poster_path">
    <button (click)="filmeAnterior()">Anterior</button><button (click)="proximoFilm()">Proximo</button>
</div>