div {
    width: 200px;
    height: 200px;
    background-color: #173540;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    margin-top: 200px;
    color: white;
}