div {
    background-color: #161F30;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 50px;
    margin-top: 100px;
}

button {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background-color: #173540;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #217373;
}