
.input {
    width: 100px;
    display: flex;
    justify-content: end;
}
#tudo {
    background-color: rgba(121, 199, 239, 0.798);
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}