div {
    width: 200px;
    height: 200px;
    background-color: #439DF0;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}
input {
    padding: 2px;
    margin: 2px;
}
* {
    font-family: sans-serif;
}

p {
    color: white;
    text-decoration: solid;
}